parameters:
    level: 8
    fileExtensions:
        - php
        - phpt
    paths:
        - src
    phpVersion: 80100

    reportMaybesInPropertyPhpDocTypes: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        # Ignore unsage usage of new static()
        - '#^Unsafe usage of new static\(\)\.$#'
